<div class="container works">
  <mat-card *ngFor="let work of works" class="work">
    <mat-card-title>{{ work.title }}</mat-card-title>
    <div class="work__img-wrap" [perfectScrollbar]>
      <img mat-card-img [src]="work.thumbURL" [alt]="work.title" class="work__img">
    </div>
    <mat-card-content class="work__text" [innerHTML]="work.description">
    </mat-card-content>
    <mat-card-actions class="work__buttons">
      <a class="work__link" [href]="work.url" target="_blank" mat-button>Open</a>
    </mat-card-actions>
  </mat-card>
</div>
