<div class="container">
  <mat-card>
    <mat-card-title>My works</mat-card-title>
    <mat-card-content>
      <mat-grid-list cols="2" rowHeight="3:2">
        <mat-grid-tile *ngFor="let work of works" class="work">
          <a [routerLink]="['/work', work.id]" class="work__link">
            <div class="work__img-wrap">
              <img [src]="work.thumbURL" [alt]="work.title" class="work__img">
            </div>
            <span class="work__title">{{ work.title }}</span>
          </a>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
</div>
