<div class="container">
  <mat-card>
    <mat-card-title>About me</mat-card-title>
      <mat-card-content>
        <div class="text">
          <img src="assets/photo.jpg" alt="Michael Izmaylov" class="photo">
          <p>My name is Mihail Izmailov. I have been working at front end development lately.</p>
          <p>These days I mostly specialize in creating difficult single page aplications with using React.js and Angular. In addition, I have experience of working with CMS Wordpress
          and Node.js & Express. I have already done more then 15 projects, starting at imposition of landing pages and ending with
          creation difficult single page aplications with using JavaScript frameworks.</p>
          <p>Moreover, I constantly study and develop my skills, scrutinizing new technologies and methodology of creating new amazing
          projects.</p>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>My skills</mat-card-title>
      <mat-card-content *ngFor="let group of skills">
        <mat-card-subtitle>{{ group.groupName }}</mat-card-subtitle>
        <mat-grid-list class cols="7" rowHeight="1:1" class="skills">
          <mat-grid-tile *ngFor="let skill of group.skills">
            <div matTooltipClass="tooltip" [matTooltip]="skill.title" class="mat-figure__img-wrap">        
              <img class="skills__thumb" [src]="skill.img" [alt]="skill.title">
            </div>
            <svg width="110" class="skills__svg" heigth="110" viewBox="0 0 110 110">
              <circle cx="55" cy="55" r="50" stroke="#dfdcd5" stroke-width="3" fill="none"></circle>
              <circle cx="55" 
                      cy="55" 
                      r="50" 
                      [attr.opacity]="skill.level" 
                      [attr.stroke-dashoffset]="314.1592653589793*(1-skill.level)" 
                      stroke-dasharray="314.1592653589793"
                      transform="rotate(-90,55,55)" 
                      stroke="#00c853" stroke-width="3" 
                      fill="none"></circle>
              <circle cx="55"
                      cy="55" r="50" 
                      [attr.opacity]="1-skill.level" 
                      [attr.stroke-dashoffset]="314.1592653589793*(1-skill.level)" 
                      stroke-dasharray="314.1592653589793"
                      transform="rotate(-90,55,55)" 
                      stroke="#f00" 
                      stroke-width="3" 
                      fill="none"></circle>
            </svg>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
      </mat-card>
    </div>