<mat-toolbar class="header">
  <div class="container">
    <h1>IzmaylovDev</h1>
  </div>
</mat-toolbar>
<main [@routerTransition]="getState(o)">
  <router-outlet #o="outlet"></router-outlet>
</main>
<mat-menu #appMenu="matMenu" class="nav">
  <a mat-menu-item routerLink="/"> Home </a>
  <a mat-menu-item routerLink="/works"> Works </a>
  <a mat-menu-item routerLink="/contacts"> Contacts </a>
</mat-menu>
<button mat-icon-button class="menu-trigger" [matMenuTriggerFor]="appMenu">
  <mat-icon>menu</mat-icon>
</button>